<form #movieForm="ngForm" (ngSubmit)="onSubmit(movieForm)">
  <div class="form-group">
    <label>Judul</label>
    <input class="form-control" name="judul" #name="ngModel" [(ngModel)]="movieService.selectedMovie.judul" placeholder="Judul" required>
  </div>

  <div class="form-group">
    <label>Deskripsi</label>
    <input class="form-control" name="deskripsi" #name="ngModel" [(ngModel)]="movieService.selectedMovie.deskripsi" placeholder="Deskripsi">
  </div>

  <div class="form-group">
    <label>Genre</label>
    <input class="form-control" name="genre" #name="ngModel" [(ngModel)]="movieService.selectedMovie.genre" placeholder="Genre">
  </div>

  <div class="form-group">
      <label>Harga</label>
    <div class="input-group">
      <div class="input-group-addon">
       <i class="fa fa-dollar"></i> 
      </div>
      <input class="form-control" name="harga" #name="ngModel" [(ngModel)]="movieService.selectedMovie.harga" placeholder="Harga">
    </div>
    
  
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-default" [disabled]="!movieForm.valid" >
      <i class="fa fa-floppy-o"></i> Submit</button> &nbsp;
    <button type="button" class="btn btn-default">
        <i class="fa fa-trash"></i> Delete</button> &nbsp;
    <button type="button" class="btn btn-default" (click)="resetForm()" >
        <i class="fa fa-repeat"></i> Reset</button>
  </div>

</form>